* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  font-size: 16px;
  background: linear-gradient(to bottom, #F2A843, #E74D30, #6C133D, #4B0C41, #0D0226);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a,
button {
  cursor: pointer;
}

@media (min-width: 48.06rem) {
  html {
    font-size: 22px;
  }
}
