* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  font-size: 16px;
  background: #bd77b9;
  color: #fff;
}
ul,
ol {
  padding: 0;
  list-style: none;
}
a,
button {
  cursor: pointer;
}
